/* You can add global styles to this file, and also import other style files */
.todo {
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px; 
}

.todos {
    max-width: 400px;
}

.todos .todo:nth-child(2n+1) {
    background-color: #333333;
}

.todos .todo:nth-child(2n) {
    background-color: #4d4d4d;
}